<div id="moviepage">
  <img src="{{movie.Poster}}">
  <div class="details">
    <p>
      <a href="/movies">Go back</a>
    </p>

    <h1>{{movie.Title}}</h1>
    <h2>Director: {{movie.Director}}</h2>
    
    <p>Rated:</p>
    <ul>
      {{#each movie.Rated}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{movie.Plot}}</p>

    {{#each movie.Runtime}}
    {{this}}
    {{/each}}
  </div>
</div>